@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.container{
    display: flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
    margin: 1.5rem;
    
}

.chipon{
    border-radius: 5px;
    background-color:#7A1401;
    color: #FFFFFF;
    border-style: none;
}
.chip{
    border-radius: 5px;
    background-color:#FCEAE4;
    color: #58413D;
    border-style: none;
}